mamba create -n cuprm python=3.10

# Install isaacsim
https://docs.isaacsim.omniverse.nvidia.com/4.2.0/installation/install_python.html

pip install trimesh, numpy, torch, matplotlib, rsplan
pip install pytorch-kinematics, lightning, pybind11, packaging 

python setup_robust.py build_ext --inplace


# Optional: 
python3 -m pip install --upgrade tensorrt
https://docs.nvidia.com/deeplearning/tensorrt/latest/installing-tensorrt/installing.html

pip install torch2trt
https://github.com/NVIDIA-AI-IOT/torch2trt
